body {
  font-family: Arial, sans-serif;
  margin: 0;
}

header {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  box-shadow: 0px 0px 10px #ccc;
}

header h1 {
  font-size: 36px;
  margin: 0;
}

header nav {
  display: flex;
  justify-content: center;
}

header nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  font-size: 18px;
}

main {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

section {
  margin: 40px 0;
}

section h2 {
  text-align: center;
  font-size: 36px;
}

section p {
  line-height: 1.5;
  font-size: 18px;
  text-align: justify;
}

section#about {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3a3a3a;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  text-align: center;
  flex-direction: column;
}

section#about img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  margin-bottom: 20px;
}

section ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

section li {
  width: calc(33.33% - 20px);
  background-color: #eee;
  padding: 20px;
  box-sizing: border-box;
}

section li h3 {
  font-size: 24px;
  text-align: center;
  margin: 0 0 10px 0;
}

form {
  background-color: #f9f9f9;
  padding: 40px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #ccc;
  margin: 40px 0;
  max-width: 800px;
  margin: 0 auto;
}

form label {
  display: block;
  font-size: 18px;
  margin: 0 0 10px 0;
}

form input[type="text"],
form input[type="email"],
form textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  font-size: 18px;
  margin: 0 0 20px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

form input[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
form input[type="submit"]:hover {
  background-color: #fff;
  color: #333;
}

@media (max-width: 767px) {
  header h1 {
    font-size: 28px;
  }

  header nav a {
    font-size: 16px;
  }

  section li {
    width: 100%;
    margin: 20px 0;
  }
  section#projects h2 {
    font-size: 32px;
    color: #333;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  section.about img {
    width: 150px;
    height: 150px;
    margin: 0 auto 20px auto;
  }
}
